.base-scene {
    --difficulty-text-background-color: rgb(55, 98, 60);
    --difficulty-value-text-background-color: rgb(155, 120, 60);
    text-align: center;
}

.base-scene-content {
    display: flex;
    align-items: center;
    min-width: 80vw;
}

.base-scene-header {
    margin: 0.2em;
}


.base-scene-stat-menu {
    display: grid;
    grid-template-columns: 6rem 1fr;
    min-width: 20%;
    background-color: var(--bg-color2);
    margin: 0 1em;
}

.health-text, .attack-text, .defense-text, .speed-text {
    min-width: 6rem;
    margin: 0.5em;
}

.health-value {
    margin: 0.5em;
    text-align: center;
}

.attack-value, .defense-value, .speed-value {
    margin: 0.5em;
    text-align: right;
}

.health-text {
    grid-row: 1;
    grid-column: 1;
}

.attack-text {
    grid-row: 2;
    grid-column: 1;
}

.defense-text {
    grid-row: 3;
    grid-column: 1;
}

.speed-text {
    grid-row: 4;
    grid-column: 1;
}

.health-value {
    grid-row: 1;
    grid-column: 2;
}

.attack-value {
    grid-row: 2;
    grid-column: 2;
}

.defense-value {
    grid-row: 3;
    grid-column: 2;
}

.speed-value {
    grid-row: 4;
    grid-column: 2;
}

.menu-button {
    color: var(--font-color);
    background-color: var(--difficulty-text-background-color);
    font-size: inherit;
    padding: 0.5em;
}
